*.pyc
*.o
*.opensdf
*.sdf
*.user
*.exe
*.VC.opendb
*.psess
*.pdb
*.deps
*.VC.db
*.iobj
*.ipdb
*.pyd
*_wrap.cpp
*.htm

.vs/
.vscode/
bvh_gen/
dmenv*
models/
__pycache__/
output/
x64/
Debug/
Release/external/
gmake/
lib/
external/
Backup/
log/
data/bvh/
data/bvh/gen
data/bvh/hdm05/
data/bvh/hdm05_aligned/
data/bvh/tmp/
data/bvh/test_motion/
DeepMimicCore/DeepMimicCore_wrap.cxx
DeepMimicCore/DeepMimicCore_wrap.o
DeepMimicCore/_DeepMimicCore.so
DeepMimicCore/objs/
DeepMimicCore/DeepMimicCore.py

motionAE/results/
motionAE/dataset/
motionAE/test_motion/