bvh==0.3
joblib
mpi4py==3.0.3
numpy
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pyquaternion==0.9.9
PyYAML==3.12
scikit-image==0.13.1
scikit-learn==0.23.2
scipy==1.5.3
tensorboard==1.15.0
tensorflow==1.15
tensorflow-estimator==1.15.1
tensorflow-tensorboard==1.5.1
torch==1.6.0
tqdm==4.50.2
tb-nightly
